<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Webpack4 构建案例</title>
<link href="/dist/pagea.css?v=5d975f4875cf761e5c01" rel="stylesheet"></head>
<body>
    <div id="app"></div>
<script type="text/javascript" src="/dist/js/vue.js?v=231ae8704966ce38b84e"></script><script type="text/javascript" src="/dist/js/tui-chart.js?v=231ae8704966ce38b84e"></script><script type="text/javascript" src="/dist/js/pagea.js?v=231ae8704966ce38b84e"></script></body>
</html>
