<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Webpack4 构建案例</title>
    <link href="/dist/pageb.css?v=81c0e1643fec8038f166" rel="stylesheet"></head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="/dist/js/pageb.js?v=96a698dd1185651baea4"></script></body>
</html>
