<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%=__('webpack构建案例页面A')%></title>
    <link rel="stylesheet" href="/dist/pagea.css?v=abbf1a6063317c69bc80"/><!-- inject:css -->
</head>
<body>
    <h2>Page A</h2>
    <div id="app"></div>
    <script>
        window._i18n = {
            locale: '<%=lang%>'
        };
    </script>
    <script  src="/dist/vue.js?v=045fcf1e4511ae336673"></script><script  src="/dist/pagea.js?v=045fcf1e4511ae336673"></script><!-- inject:js -->
</body>
</html>
