<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%=__('webpack构建案例页面B')%></title>
    <!-- inject:css -->
</head>
<body>
    <h2>Page B</h2>
    <div id="app"></div>
    <script>
        window._i18n = {
            locale: '<%=lang%>'
        };
    </script>
    <!-- inject:js -->
</body>
</html>
